$dark-grey: #222;
$medium-grey: #555;
$light-grey: #777;
$soft-grey: #999;
$default-blue: #007bff;

@media (min-device-width: 700px) {
  .navbar-nav mr-auto ul {
    font-size: 20px;
  }
}

@media (max-device-width: 699px) {
  .navbar-nav mr-auto ul{
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%
  }
}

.table img {
  border-radius: 8px;
  width: 33px;
}

.table td img {
  display: block;
}
